<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pluviostudios.selfimage"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".mainActivity.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".searchActivity.FoodSearchActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".utilities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>

        <activity
            android:name=".timelapseActivity.TimelapseActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name=".data.database.SelfImageContentProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true"/>

        <receiver android:name=".widget.CalBarProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calbar_appwidget_info"/>
        </receiver>

        <receiver android:name=".notification.DailyNotification"/>
    </application>

</manifest>